# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.two point five D platformer.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Unity-Projects\two point five D platformer\.idea\.idea.two point five D platformer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
